.logo {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgrey;
    font-size: 18px;
}

.menu-item {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgrey;
    cursor: pointer;
}