<div class="uk-margin-medium-top uk-child-width-auto uk-grid">
    <label><input class="uk-checkbox" type="checkbox" [(ngModel)]="filter.incident"> Feux</label>
    <label><input class="uk-checkbox" type="checkbox" [(ngModel)]="filter.etablissement"> Etablissements</label>
    <label><input class="uk-checkbox" type="checkbox" [(ngModel)]="filter.vehicule"> Vehicules</label>
</div>
<button class="uk-button uk-button-default uk-margin-top" (click)="display()">APPLIQUER FILTRES</button>
<div class="uk-margin-medium-top" id="mapid"></div>