<div style="background-color: rgb(225, 225, 225); height: 100vh; width: 100vw">
    <div class="uk-flex uk-flex-center" style="padding-top: 256px;">
        <div class="uk-card uk-card-default uk-width-1-4 uk-padding">
            <div class="uk-width-1-1" style="text-align: center; font-size: 24px;">
                <b>EMERGENCY MANAGER</b>
            </div>
            <hr class="uk-divider-icon">
            <div class="uk-margin-medium">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="password" placeholder="Mot de passe" [(ngModel)]="password">
                </div>
                <div style="color: red" *ngIf="passError">Impossible de se connecter : Mot de passe erroné</div>
            </div>
            <button class="uk-button uk-button-primary uk-width-1-1" (click)="login()">SE CONNECTER</button>
        </div>
    </div>
</div>