<div class="uk-grid" style="height: 100vh">
    <div class="uk-width-1-6 uk-card uk-card-default">
        <div class="uk-width-1-1 logo"><b>SIMULATEUR</b></div>
        <div class="menu-item" *ngFor="let item of menuItems" [routerLink]="[item.link]">
            {{item.libelle}}
        </div>
        <div class="menu-item" (click)="logOut()">
            DECONNEXION
        </div>
    </div>
    <div class="uk-width-expand" style="background-color: rgb(245, 240, 240); padding-right: 32px;">
        <router-outlet></router-outlet>
    </div>
</div>